<%= form_with(model: anime_widget, local: true) do |form| %>
  <% if anime_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anime_widget.errors.count, "error") %> prohibited this anime_widget from being saved:</h2>

      <ul>
        <% anime_widget.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<html>

<head>
</head> 

<body style = "text-align: center;">
  <header>
  </header>

  <div class="container" style = "margin-top:150px">
    <div class="logo text-center">

      <img src="https://www.google.com/images/srpr/logo11w.png">
    </div>
      <form class="form-inline" role="form">
        <div class="rows" style = "padding:30px">
      <%= form.text_field :name, class:'form-control' %>
            <span class="glyphicon glyphicon-usd form-control-feedback"></span>
        </div>
      </form>
    <div class="buttons text-center">
      <div class="btn-tool" role="group" aria-label="...">
        <%= form.submit 'Add New', :class => 'btn btn-default' %>
          <%= link_to 'View All', anime_widgets_path, :class => 'btn btn-default' %>
      </div>
    </div>
</div>
<% end %>



  <footer>
  </footer>
</body>


</html>